.DS_Store
EarthBytePlateMotionModel-ARCHIVE
plate_model
plate_model.zip
source_data
source_data.zip
prepared_data
prepared_data.zip
extracted_data
__pycache__
.mypy_cache
.vscode
subduction_data*.csv
grid_data.csv*
Clennett_data
outputs*
figures.zip
supplementary_figures.zip
*.pdf
.gitattributes
*.log
